<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="CosmosDbConfig">
    <Parameter Name="Endpoint" Value="" />
    <Parameter Name="AuthKey" Value="" />
    <Parameter Name="Database" Value="" />
    <Parameter Name="Collection" Value="" />
  </Section>
</Settings>
